@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*:focus {
    outline: none;
}

h1{
    font-size: 4vmin;
}
h2{
    font-size: 3vmin;
}
h3{
    font-size: 2.5vmin;
}
h4{
    font-size: 2vmin;
}