.message__wrapper{
    overflow:scroll;
}
.message__wrapper::-webkit-scrollbar {
    display: none;

}
.message__wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.message__display{
    padding-top: 2vh;  
    padding-left: 2vw;
    padding-right: 2vw; 
}