.sidebar__profile{
    padding: 1vmin;
}
.cellular{
    transform: scale(0.75);
}
.sidebar__header{
    padding-top:1.5vmin;
    padding-bottom:1vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
}