.chat__header{
    font-size: 4vmin;
}
.chat__mediumtext{
    font-size: 3vmin;
}
.chat__smalltext{
    font-size: 2.5vmin;
}
.chat__header{
    padding-top:1.5vmin;
    padding-bottom:1vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
}